* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-size: 20px;
}

.slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(0.3);
}

.about_p p{
    font-size: 25px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.about {
    padding: 40px 0; /* Slightly increased padding */
    text-align: center;
}

.about h1 {
    font-size: 70px; /* Slightly increased font size */
    margin-bottom: 20px;
    margin-top: 20px; /* Added margin to lower the heading */
}

.about p {
    font-size: 35px; /* Slightly increased font size */
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}

.about-info {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Stack the image on top of the text */
    padding: 30px;
    width: 70%;
    margin: 5rem auto 0 auto;
    border-radius: 3px;
}

.about-img {
    height: 200px; /* Adjusted height */
    width: 500px;
    margin-bottom: 20px; /* Added margin to separate the image from text */
}


.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.about-info p {
    color: white;
    font-weight: bold;
    margin-right: 25px;
    margin-top: 20px; /* Slightly decreased margin-top */
    text-align: center;
    align-items: center;
    font-size: 25px; /* Slightly decreased font size */
}


.team {
    padding: 30px 0;
    text-align: center;
}

.team h1 {
    font-size: 3.7rem;
    margin-bottom: 20px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 18rem;
    height: 200px;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 18rem;
    height: 12rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.button {
    padding: 8px 16px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #333;
    color: white;
}


.card-name {
    color: rgb(19, 15, 15);
    font-size: 2rem;
    margin: 10px 0;
    font-weight: bold;
}

.card-role {
    font-size: 1rem;
    color: #888;
    margin: 5px 0;
    font-weight: bold;
}

.card-email {
    font-size: 1rem;
    color: #555;
    font-weight: bold;
}

@media (max-width: 768px) {
    .about h1 {
        font-size: 2rem;
    }

    .about p {
        font-size: 0.9rem;
    }

    .about-info {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        width: 60%;
        height: 60%;
        margin-bottom: 1rem;
    }

    .about-info p {
        margin: 1rem 2rem;
    }

    .about-info button {
        margin: 1rem 2rem;
        width: 10rem;
    }

    .team {
        margin: 0 1rem;
    }
}